@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

.grid { 
  display: grid;
 
 grid-template-areas:
"header header header"
"nav content content";
 grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
  
}
.header {
  grid-area: header;
  background-color: black;
  color: white;
}
.sidebar {
  grid-area: nav;
  background-color: grey;
}
.content {
  grid-area: content;
  background-color: grey;
  color: white;
}

